In [27]:
import numpy as np
import pandas as pd

In [28]:
df = pd.read_csv('airlines_reviews.csv')
df

,Title,Name,Review Date,Airline,Verified,Reviews,Type of Traveller,Month Flown,Route,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended
0,Flight was amazing,Alison Soetantyo,2024-03-01,Singapore Airlines,True,Flight was amazing. The crew onboard this fl...,Solo Leisure,December 2023,Jakarta to Singapore,Business Class,4,4,4,4,4,9,yes
1,seats on this aircraft are dreadful,Robert Watson,2024-02-21,Singapore Airlines,True,Booking an emergency exit seat still meant h...,Solo Leisure,February 2024,Phuket to Singapore,Economy Class,5,3,4,4,1,3,no
2,Food was plentiful and tasty,S Han,2024-02-20,Singapore Airlines,True,Excellent performance on all fronts. I would...,Family Leisure,February 2024,Siem Reap to Singapore,Economy Class,1,5,2,1,5,10,yes
3,“how much food was available,D Laynes,2024-02-19,Singapore Airlines,True,Pretty comfortable flight considering I was f...,Solo Leisure,February 2024,Singapore to London Heathrow,Economy Class,5,5,5,5,5,10,yes
4,“service was consistently good”,A Othman,2024-02-19,Singapore Airlines,True,The service was consistently good from start ...,Family Leisure,February 2024,Singapore to Phnom Penh,Economy Class,5,5,5,5,5,10,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8095,an uneventful flight,N Vickers,2016-06-20,Korean Air,True,"KE124, Brisbane to Incheon (A330) and KE867,...",Business,June 2016,BNE to ULN via ICN,Economy Class,5,4,5,3,4,7,yes
8096,Korean Air always impresses,Kim Holloway,2016-06-12,Korean Air,False,Our recent flight was our fourth trip to the...,Couple Leisure,June 2016,SYD to LHR via ICN,Economy Class,3,5,5,4,5,10,yes
8097,didn’t offer anything,C Clark,2016-06-06,Korean Air,True,I flew Korean Air from Bali to Seoul in Pres...,Business,April 2016,DPS to ICN,Business Class,4,5,5,5,1,2,no
8098,appreciated the service onboard,E Petan,2016-04-21,Korean Air,False,Seoul to Paris with Korean Air. I am traveli...,Business,April 2016,ICN to CDG,Business Class,5,1,3,4,5,10,yes
8099,genuinely friendly staff,D Lanor,2016-04-12,Korean Air,False,The 13 hour flight in Business class from Se...,Business,April 2016,ICN to YYZ,Business Class,3,5,3,3,5,10,yes

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8100 entries, 0 to 8099
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   8100 non-null   object
 1   Name                    8100 non-null   object
 2   Review Date             8100 non-null   object
 3   Airline                 8100 non-null   object
 4   Verified                8100 non-null   object
 5   Reviews                 8100 non-null   object
 6   Type of Traveller       8100 non-null   object
 7   Month Flown             8100 non-null   object
 8   Route                   8100 non-null   object
 9   Class                   8100 non-null   object
 10  Seat Comfort            8100 non-null   int64
 11  Staff Service           8100 non-null   int64
 12  Food & Beverages        8100 non-null   int64
 13  Inflight Entertainment  8100 non-null   int64
 14  Value For Money         8100 non-null   int64
 15  Overall Rating          8100 non-null   int64
 16  Recommended             8100 non-null   object
dtypes: int64(6), object(11)
memory usage: 1.1+ MB

In [30]:
df.isna().sum()

Title                     0
Name                      0
Review Date               0
Airline                   0
Verified                  0
Reviews                   0
Type of Traveller         0
Month Flown               0
Route                     0
Class                     0
Seat Comfort              0
Staff Service             0
Food & Beverages          0
Inflight Entertainment    0
Value For Money           0
Overall Rating            0
Recommended               0
dtype: int64

In [32]:
df['Verified'].value_counts()

Verified
True                                                                                                                                                                                                                                           6216
False                                                                                                                                                                                                                                          1881
*Unverified*                                                                                                                                                                                                                                      1
NotVerified                                                                                                                                                                                                                                       1
we do appreciate you bringing this matter to our attention. Please accept my apologies for not having met your expectations; I do hope that we can leave you and your family with a more positive impression on your future flights with us       1
Name: count, dtype: int64

In [33]:
df = df[df['Verified'] == 'True']

In [34]:
df

,Title,Name,Review Date,Airline,Verified,Reviews,Type of Traveller,Month Flown,Route,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended
0,Flight was amazing,Alison Soetantyo,2024-03-01,Singapore Airlines,True,Flight was amazing. The crew onboard this fl...,Solo Leisure,December 2023,Jakarta to Singapore,Business Class,4,4,4,4,4,9,yes
1,seats on this aircraft are dreadful,Robert Watson,2024-02-21,Singapore Airlines,True,Booking an emergency exit seat still meant h...,Solo Leisure,February 2024,Phuket to Singapore,Economy Class,5,3,4,4,1,3,no
2,Food was plentiful and tasty,S Han,2024-02-20,Singapore Airlines,True,Excellent performance on all fronts. I would...,Family Leisure,February 2024,Siem Reap to Singapore,Economy Class,1,5,2,1,5,10,yes
3,“how much food was available,D Laynes,2024-02-19,Singapore Airlines,True,Pretty comfortable flight considering I was f...,Solo Leisure,February 2024,Singapore to London Heathrow,Economy Class,5,5,5,5,5,10,yes
4,“service was consistently good”,A Othman,2024-02-19,Singapore Airlines,True,The service was consistently good from start ...,Family Leisure,February 2024,Singapore to Phnom Penh,Economy Class,5,5,5,5,5,10,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8085,the worst Asian airline,G Nazano,2016-09-21,Korean Air,True,New York JFK to Tashkent via Seoul Incheon. ...,Business,September 2016,JFK to TAS via ICN,Business Class,4,5,3,4,1,1,no
8086,I felt like a valued customer,V Anderson,2016-09-19,Korean Air,True,First time flying out of the country from Sa...,Solo Leisure,September 2016,SFO to ICN,Economy Class,4,5,4,4,5,10,yes
8093,I was satisfied with the performance,F Lee,2016-07-09,Korean Air,True,Flown from Seattle to Incheon and then Incheo...,Solo Leisure,July 2016,SEA to SIN via ICN,Economy Class,3,4,5,4,3,7,yes
8095,an uneventful flight,N Vickers,2016-06-20,Korean Air,True,"KE124, Brisbane to Incheon (A330) and KE867,...",Business,June 2016,BNE to ULN via ICN,Economy Class,5,4,5,3,4,7,yes
8097,didn’t offer anything,C Clark,2016-06-06,Korean Air,True,I flew Korean Air from Bali to Seoul in Pres...,Business,April 2016,DPS to ICN,Business Class,4,5,5,5,1,2,no

In [35]:
df['Type of Traveller'].value_counts()

Type of Traveller
Solo Leisure      2535
Couple Leisure    1442
Family Leisure    1154
Business          1085
Name: count, dtype: int64

In [36]:
df['Month Flown'].value_counts()

Month Flown
December 2017    134
December 2019    129
January 2018     126
August 2018      123
January 2019     123
                ...
May 2014           1
March 2013         1
March 2024         1
May 2015           1
October 2015       1
Name: count, Length: 106, dtype: int64

In [37]:
df['Route'].value_counts()

Route
London to Singapore                19
Bangkok to Hong Kong               18
Bangkok to Singapore               16
Istanbul to London                 16
Perth to Singapore                 15
                                   ..
Delhi to Nairobi via Dubai          1
Los Angeles to Tehran via Dubai     1
Dubai to Milan                      1
Orlando to Cairo via Dubai          1
DPS to ICN                          1
Name: count, Length: 4411, dtype: int64

In [38]:
df

,Title,Name,Review Date,Airline,Verified,Reviews,Type of Traveller,Month Flown,Route,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended
0,Flight was amazing,Alison Soetantyo,2024-03-01,Singapore Airlines,True,Flight was amazing. The crew onboard this fl...,Solo Leisure,December 2023,Jakarta to Singapore,Business Class,4,4,4,4,4,9,yes
1,seats on this aircraft are dreadful,Robert Watson,2024-02-21,Singapore Airlines,True,Booking an emergency exit seat still meant h...,Solo Leisure,February 2024,Phuket to Singapore,Economy Class,5,3,4,4,1,3,no
2,Food was plentiful and tasty,S Han,2024-02-20,Singapore Airlines,True,Excellent performance on all fronts. I would...,Family Leisure,February 2024,Siem Reap to Singapore,Economy Class,1,5,2,1,5,10,yes
3,“how much food was available,D Laynes,2024-02-19,Singapore Airlines,True,Pretty comfortable flight considering I was f...,Solo Leisure,February 2024,Singapore to London Heathrow,Economy Class,5,5,5,5,5,10,yes
4,“service was consistently good”,A Othman,2024-02-19,Singapore Airlines,True,The service was consistently good from start ...,Family Leisure,February 2024,Singapore to Phnom Penh,Economy Class,5,5,5,5,5,10,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8085,the worst Asian airline,G Nazano,2016-09-21,Korean Air,True,New York JFK to Tashkent via Seoul Incheon. ...,Business,September 2016,JFK to TAS via ICN,Business Class,4,5,3,4,1,1,no
8086,I felt like a valued customer,V Anderson,2016-09-19,Korean Air,True,First time flying out of the country from Sa...,Solo Leisure,September 2016,SFO to ICN,Economy Class,4,5,4,4,5,10,yes
8093,I was satisfied with the performance,F Lee,2016-07-09,Korean Air,True,Flown from Seattle to Incheon and then Incheo...,Solo Leisure,July 2016,SEA to SIN via ICN,Economy Class,3,4,5,4,3,7,yes
8095,an uneventful flight,N Vickers,2016-06-20,Korean Air,True,"KE124, Brisbane to Incheon (A330) and KE867,...",Business,June 2016,BNE to ULN via ICN,Economy Class,5,4,5,3,4,7,yes
8097,didn’t offer anything,C Clark,2016-06-06,Korean Air,True,I flew Korean Air from Bali to Seoul in Pres...,Business,April 2016,DPS to ICN,Business Class,4,5,5,5,1,2,no

In [39]:
df['Class'].value_counts()

Class
Economy Class      4238
Business Class     1610
Premium Economy     281
First Class          87
Name: count, dtype: int64

In [40]:
df['Recommended'].value_counts()

Recommended
yes    3241
no     2975
Name: count, dtype: int64

In [41]:
df = df.drop(columns = 'Verified',axis = 1)
df = df.drop(columns = 'Reviews',axis = 1)
df = df.drop(columns = 'Review Date',axis = 1)
df = df.drop(columns = 'Title',axis = 1)

In [42]:
df

,Name,Airline,Type of Traveller,Month Flown,Route,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended
0,Alison Soetantyo,Singapore Airlines,Solo Leisure,December 2023,Jakarta to Singapore,Business Class,4,4,4,4,4,9,yes
1,Robert Watson,Singapore Airlines,Solo Leisure,February 2024,Phuket to Singapore,Economy Class,5,3,4,4,1,3,no
2,S Han,Singapore Airlines,Family Leisure,February 2024,Siem Reap to Singapore,Economy Class,1,5,2,1,5,10,yes
3,D Laynes,Singapore Airlines,Solo Leisure,February 2024,Singapore to London Heathrow,Economy Class,5,5,5,5,5,10,yes
4,A Othman,Singapore Airlines,Family Leisure,February 2024,Singapore to Phnom Penh,Economy Class,5,5,5,5,5,10,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8085,G Nazano,Korean Air,Business,September 2016,JFK to TAS via ICN,Business Class,4,5,3,4,1,1,no
8086,V Anderson,Korean Air,Solo Leisure,September 2016,SFO to ICN,Economy Class,4,5,4,4,5,10,yes
8093,F Lee,Korean Air,Solo Leisure,July 2016,SEA to SIN via ICN,Economy Class,3,4,5,4,3,7,yes
8095,N Vickers,Korean Air,Business,June 2016,BNE to ULN via ICN,Economy Class,5,4,5,3,4,7,yes
8097,C Clark,Korean Air,Business,April 2016,DPS to ICN,Business Class,4,5,5,5,1,2,no

In [43]:
df[['FromTo','Via']] = df['Route'].str.split(' via ', expand=True)

In [44]:
df[['From','To']] = df['FromTo'].str.split(' to ', expand=True)

In [45]:
df[['Month','Year']] = df['Month Flown'].str.split(' ', expand=True)

df

,Name,Airline,Type of Traveller,Month Flown,Route,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended,FromTo,Via,From,To,Month,Year
0,Alison Soetantyo,Singapore Airlines,Solo Leisure,December 2023,Jakarta to Singapore,Business Class,4,4,4,4,4,9,yes,Jakarta to Singapore,None,Jakarta,Singapore,December,2023
1,Robert Watson,Singapore Airlines,Solo Leisure,February 2024,Phuket to Singapore,Economy Class,5,3,4,4,1,3,no,Phuket to Singapore,None,Phuket,Singapore,February,2024
2,S Han,Singapore Airlines,Family Leisure,February 2024,Siem Reap to Singapore,Economy Class,1,5,2,1,5,10,yes,Siem Reap to Singapore,None,Siem Reap,Singapore,February,2024
3,D Laynes,Singapore Airlines,Solo Leisure,February 2024,Singapore to London Heathrow,Economy Class,5,5,5,5,5,10,yes,Singapore to London Heathrow,None,Singapore,London Heathrow,February,2024
4,A Othman,Singapore Airlines,Family Leisure,February 2024,Singapore to Phnom Penh,Economy Class,5,5,5,5,5,10,yes,Singapore to Phnom Penh,None,Singapore,Phnom Penh,February,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8085,G Nazano,Korean Air,Business,September 2016,JFK to TAS via ICN,Business Class,4,5,3,4,1,1,no,JFK to TAS,ICN,JFK,TAS,September,2016
8086,V Anderson,Korean Air,Solo Leisure,September 2016,SFO to ICN,Economy Class,4,5,4,4,5,10,yes,SFO to ICN,None,SFO,ICN,September,2016
8093,F Lee,Korean Air,Solo Leisure,July 2016,SEA to SIN via ICN,Economy Class,3,4,5,4,3,7,yes,SEA to SIN,ICN,SEA,SIN,July,2016
8095,N Vickers,Korean Air,Business,June 2016,BNE to ULN via ICN,Economy Class,5,4,5,3,4,7,yes,BNE to ULN,ICN,BNE,ULN,June,2016
8097,C Clark,Korean Air,Business,April 2016,DPS to ICN,Business Class,4,5,5,5,1,2,no,DPS to ICN,None,DPS,ICN,April,2016

In [46]:
df = df.drop(columns = 'FromTo',axis = 1)
df = df.drop(columns = 'Month Flown',axis = 1)
df = df.drop(columns = 'Route',axis = 1)

In [47]:
df

,Name,Airline,Type of Traveller,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended,Via,From,To,Month,Year
0,Alison Soetantyo,Singapore Airlines,Solo Leisure,Business Class,4,4,4,4,4,9,yes,None,Jakarta,Singapore,December,2023
1,Robert Watson,Singapore Airlines,Solo Leisure,Economy Class,5,3,4,4,1,3,no,None,Phuket,Singapore,February,2024
2,S Han,Singapore Airlines,Family Leisure,Economy Class,1,5,2,1,5,10,yes,None,Siem Reap,Singapore,February,2024
3,D Laynes,Singapore Airlines,Solo Leisure,Economy Class,5,5,5,5,5,10,yes,None,Singapore,London Heathrow,February,2024
4,A Othman,Singapore Airlines,Family Leisure,Economy Class,5,5,5,5,5,10,yes,None,Singapore,Phnom Penh,February,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8085,G Nazano,Korean Air,Business,Business Class,4,5,3,4,1,1,no,ICN,JFK,TAS,September,2016
8086,V Anderson,Korean Air,Solo Leisure,Economy Class,4,5,4,4,5,10,yes,None,SFO,ICN,September,2016
8093,F Lee,Korean Air,Solo Leisure,Economy Class,3,4,5,4,3,7,yes,ICN,SEA,SIN,July,2016
8095,N Vickers,Korean Air,Business,Economy Class,5,4,5,3,4,7,yes,ICN,BNE,ULN,June,2016
8097,C Clark,Korean Air,Business,Business Class,4,5,5,5,1,2,no,None,DPS,ICN,April,2016

In [48]:
df.fillna('No', inplace=True)
df

,Name,Airline,Type of Traveller,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended,Via,From,To,Month,Year
0,Alison Soetantyo,Singapore Airlines,Solo Leisure,Business Class,4,4,4,4,4,9,yes,No,Jakarta,Singapore,December,2023
1,Robert Watson,Singapore Airlines,Solo Leisure,Economy Class,5,3,4,4,1,3,no,No,Phuket,Singapore,February,2024
2,S Han,Singapore Airlines,Family Leisure,Economy Class,1,5,2,1,5,10,yes,No,Siem Reap,Singapore,February,2024
3,D Laynes,Singapore Airlines,Solo Leisure,Economy Class,5,5,5,5,5,10,yes,No,Singapore,London Heathrow,February,2024
4,A Othman,Singapore Airlines,Family Leisure,Economy Class,5,5,5,5,5,10,yes,No,Singapore,Phnom Penh,February,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8085,G Nazano,Korean Air,Business,Business Class,4,5,3,4,1,1,no,ICN,JFK,TAS,September,2016
8086,V Anderson,Korean Air,Solo Leisure,Economy Class,4,5,4,4,5,10,yes,No,SFO,ICN,September,2016
8093,F Lee,Korean Air,Solo Leisure,Economy Class,3,4,5,4,3,7,yes,ICN,SEA,SIN,July,2016
8095,N Vickers,Korean Air,Business,Economy Class,5,4,5,3,4,7,yes,ICN,BNE,ULN,June,2016
8097,C Clark,Korean Air,Business,Business Class,4,5,5,5,1,2,no,No,DPS,ICN,April,2016

In [49]:
df.to_csv('airlines.csv', index=False)